<template>
    <div class="v-cart">
        <h1>Cart</h1>
        

    </div>
</template>

<script>

export default {
    name: 'v-cart',
    props: {},
    data () {
        return {
            title: ''
        }
    },
    computed: {},
    

}
</script>

<style>

</style>
